.HeroSection {
  position: relative;
  width: 100%;
  height: 80vh;
}

.HeroSection img {
  border-radius: 13px;
  width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.HeroSection img, .top-box-office {
  height: 67vh;
}

.infos {
  color: #fff;
  text-shadow: 0 2px 4px rgba(0,0,0,0.8);
  z-index: 10;
  flex-direction: column;
  gap: 16px;
  width: 45%;
  display: flex;
  position: absolute;
  top: 53%;
  left: 3rem;
  transform: translateY(-50%);
  font-size: 16px;
  line-height: 24px;
}

.categorie {
  background: #ffa32100;
  padding: 10px;
  width: 45%;
  text-align: center;
  border-radius: 54px;
  backdrop-filter: blur(81px);
  color: #fff;
  border: 1px solid #484a67;
}
