.movieCard {
  position: relative;
  width: 15em;
  border-radius: 12px;
  overflow: hidden;
  color: white;
}

.movieCard img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.review {
    z-index: 2;
    background: #ffa321d4;
    border-radius: 0 18px 18px 0;
    align-items: center;
    gap: 4px;
    padding: 6px 11px 6px 6px;
    font-size: .8em;
    display: flex;
    top: 2em;
    left: 0;
    backdrop-filter: blur(121px);
}

.type {
  top: 10px;
  right: 40px;
  background: rgba(0, 0, 0, 0.6);
  padding: 4px 8px;
  border-radius: 56px;
  font-size: 0.8em;
  z-index: 2;
  margin-right: 1em;
  text-transform: uppercase;
}

.menuButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 2em;
  height: 2em;
  z-index: 3;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.menu {
    z-index: 4;
    position: absolute;
    top: 62%;
    right: 10px;  
    height: 5em;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 4px;   
    background: #00000073;
    border: 2px solid gray;
    -webkit-backdrop-filter: blur(22px);
    backdrop-filter: blur(22px);  
    transition-duration: 0.4s;  
    text-align: center;
    border-radius: 0;
    padding: 7px 0;
    border-radius: 26px;
}

.menu i {
    font-size: 14px;
}

.menu button {
  background: none;
  border: none;
  color: rgb(178, 178, 178);
  font-size: 0.8em;
  cursor: pointer;
  text-align: left;
  padding: 4px 8px;
  white-space: nowrap;
  text-transform: uppercase;
}

.menu button:hover {
  background: #0000006e;
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  padding: 20px 10px 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1em;
  top: 17em;
}

.title p {
  margin: 0;
  font-weight: bold;
  font-size: 1em;
}

.title span {
  font-size: 0.8em;
  opacity: 0.8;
}

.container {
    display: flex;
    z-index: 99999;
    align-items: center;
    position: absolute;
    top: 28px;
    width: 100%;
    justify-content: space-between;
}
