* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: var(--sidebar-width);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 1em;
}

.buttonContainer i:nth-child(2) {
  font-size: 25px;
  cursor:pointer;
}

button {
  width: 7.5em;
  padding: 10px 14px;
  font-size: 17px;
  border: none;
  border-radius: 99px;
  background: var(--primary-color);
  cursor: pointer;
}

button i {
  margin-right: 8px;
  font-size: 20px;
}
