:root {
  --background: #111111;
  --foreground: #171717;
  --color : #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

nav {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav input {
  background: #1b1b1b;
  color: var(--color);
  border-radius: 90px;
  border: none;
  padding: 10px 10px 10px 24px;
  width: 60%
}

nav input:hover {
  background: #1f1f20;
}

nav button {
  border-radius: 44px;
  padding: 10px 17px;
  border: none;
}

.rightElement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

nav i {
  color: red;
    background: blue;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
}
