:root {
  --background: #111111;
  --foreground: #171717;
  --color : #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

nav {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav input {
  color: var(--color);
  background: #1b1b1b;
  border: none;
  border-radius: 90px;
  width: 56.5%;
  padding: 10px 10px 10px 24px;
  margin-left: 6.5%;
}

nav input:hover {
  background: #1f1f20;
}

nav button {
  border-radius: 44px;
  padding: 10px 17px;
  border: none;
  cursor: pointer;
}

.rightElement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

nav i {
    color: red;
    background: blue;
    width: 34px!important;
    height: 34px!important;
    display: flex!important;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
}

.HeroSection {
  margin-left: 7%;
}

.HeroSection img {
  position: relative;
  width: 60%;
  border-radius: 14px;
}

.sidebar-left {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  width: 3%;
  height: 100vh;
  display: flex;
  position: fixed;
  border-right: solid 1px #ffffff4d;
}

.infos {
  position: absolute;
    bottom: 10em;
    left: 1em;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #fff;
    text-shadow: 0 2px 9px black;
}