:root {
  --background: #111111;
  --foreground: #171717;
  --color : #fff;
  --sidebar-width: 6rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: var(--sidebar-width); /* Push content to the right of the sidebar */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

nav {
    padding: 0 2em 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav input {
  color: var(--color);
  background: #1b1b1b;
  border: none;
  border-radius: 90px;
  width: 100%;
  padding: 10px 10px 10px 39px;
}

nav input:hover {
  background: #1f1f20;
}

nav button {
  border-radius: 44px;
  padding: 10px 17px;
  border: none;
  cursor: pointer;
}

.rightElement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

nav i {
    color: red;
    background: blue;
    width: 34px!important;
    height: 34px!important;
    display: flex!important;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
}

.HeroSection {
  position: relative;
  width: 55.7%;
  left: 7%;
}

.HeroSection img {
  border-radius: 13px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.sidebar-left {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  width: var(--sidebar-width);
  height: 100vh;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  border-right: solid 1px #ffffff4d;
  background-color: var(--background);
  z-index: 50;
}

.infos {
  color: #fff;
  text-shadow: 0 2px 4px #000c;
  z-index: 10;
  flex-direction: column;
  gap: 22px;
  width: 48%;
  display: flex;
  position: absolute;
  top: 76%;
  left: 3rem;
  transform: translateY(-50%);
  font-size: 16px;
  line-height: 24px;
}

button {
  width: 11em;
  padding: 10px;
  border: none;
  border-radius: 99px;
  background: #ffb900;
  cursor: pointer;
}

button i {
  margin-right: 8px;
}

.searchBar {
  width: 56.5%;
  position: relative;
  display: inline-block; /* ou flex si tu veux aligner mieux */
  margin-left: 7%;  
}

.searchBar::before {
  content: "\f002"; /* code Unicode FontAwesome pour la loupe */
  color: #ffffff3b;
  pointer-events: none;
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  font-size: 14px;
}


.categorie {
  color:  #ffb900;
}

